{% extends 'todo/base.html' %}
{% block title %}Currents ToDos{% endblock %}
{% block content%}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        {% if todos %}
            <h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
        {% else %}
            <h1>Current Todos</h1>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 pl-3 pr-5">
        <ul style="list-style: none;">
            {% if todos %}
                {% for todo in todos %}
                <li>
                    <div class="alert alert-{% if todo.important %}danger{% else %}primary{% endif %}" role="alert">
                        <a href=" {% url 'viewtodo' todo.id %}">{% if todo.important %}<b>{% endif %}{{ todo.title }}
                        {% if todo.important %}</b>{% endif %}
                        <p>{% if todo.memo %}</p>
                        {{ todo.memo }}{% endif %}</a>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h2>Looks like you don't have any todos! Nice work.</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
                </div>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}